<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => Task %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:priority) %></th>
      <th><%= model_class.human_attribute_name(:location_id) %></th>
      <th><%= model_class.human_attribute_name(:start_at) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
      <th><%= model_class.human_attribute_name(:finish_at) %></th>
      <th><%= model_class.human_attribute_name(:due_at) %></th>
      <th><%= model_class.human_attribute_name(:due_event) %></th>
      <th><%= model_class.human_attribute_name(:reminder_at) %></th>
      <th><%= model_class.human_attribute_name(:reminder_type) %></th>
      <th><%= model_class.human_attribute_name(:occurance_id) %></th>
      <th><%= model_class.human_attribute_name(:occurance_deleted) %></th>
      <th><%= model_class.human_attribute_name(:parent_id) %></th>
      <th><%= model_class.human_attribute_name(:collapse) %></th>
      <th><%= model_class.human_attribute_name(:child_duration) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.name %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= task.location_id %></td>
        <td><%= task.start_at %></td>
        <td><%= task.duration %></td>
        <td><%= task.finish_at %></td>
        <td><%= task.due_at %></td>
        <td><%= task.due_event %></td>
        <td><%= task.reminder_at %></td>
        <td><%= task.reminder_type %></td>
        <td><%= task.occurance_id %></td>
        <td><%= task.occurance_deleted %></td>
        <td><%= task.parent_id %></td>
        <td><%= task.collapse %></td>
        <td><%= task.child_duration %></td>
        <td><%=l task.created_at, format: :long %></td>
        <td>
          <%= link_to task_path(task), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to task_path(task), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_task_path,
            :class => 'btn btn-primary' %>
