<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Location:</strong>
  <%= @task.location_id %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @task.start_at %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @task.duration %>
</p>

<p>
  <strong>Finish at:</strong>
  <%= @task.finish_at %>
</p>

<p>
  <strong>Due at:</strong>
  <%= @task.due_at %>
</p>

<p>
  <strong>Due event:</strong>
  <%= @task.due_event %>
</p>

<p>
  <strong>Reminder at:</strong>
  <%= @task.reminder_at %>
</p>

<p>
  <strong>Reminder type:</strong>
  <%= @task.reminder_type %>
</p>

<p>
  <strong>Occurance:</strong>
  <%= @task.occurance_id %>
</p>

<p>
  <strong>Occurance deleted:</strong>
  <%= @task.occurance_deleted %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @task.parent_id %>
</p>

<p>
  <strong>Collapse:</strong>
  <%= @task.collapse %>
</p>

<p>
  <strong>Child duration:</strong>
  <%= @task.child_duration %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
