<h1>Listing dependant_tasks</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dependant_tasks.each do |dependant_task| %>
      <tr>
        <td><%= dependant_task.task %></td>
        <td><%= link_to 'Show', dependant_task %></td>
        <td><%= link_to 'Edit', edit_dependant_task_path(dependant_task) %></td>
        <td><%= link_to 'Destroy', dependant_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependant task', new_dependant_task_path %>
